<div class="container-relative">
<div class="box-profile">
  {{#if usuario.nombre}}
    <h4>Sesión de {{usuario.nombre}} - email:{{usuario.email}}</h4>
  {{else}}
    <h4>Sesión de
      {{usuario.profileGithub}}
      - email:{{usuario.email}}</h4>
  {{/if}}
  <a href="/api/user" class="btn-role">Cambiar rol</a>
  <a href="/api/sessions/current" class="btn-data">Ver datos usuario</a>


  <a href="/api/sessions/logout" class="btn-logout"><i
      class="fa fa-sign-out"
    ></i>Cerrar sesión</a>
</div>

<h1>Lista de productos</h1>

<div class="cart-view-box">
  <a href="" id="btn-view-cart" class="cart-view">
    Ver el carrito
    <i class="fa fa-cart-plus"></i></a>
</div>
<ul class="product-list">
  {{#each products}}
  <li class="item">
    <div class="product-list__items">
      <span >{{this.title}}
        -
        {{description}}
        - $
        {{price}}
      </span>
      <button
        id="btn-add"
        class="product-list__items-btn"
        data-product-id="{{this._id}}"
      >Agregar al carrito</button>
      <button class="btn-delete" data-product-id="{{this._id}}"><i class="fa fa-trash" style="color:red"></i></button>        
      </div>
  </li>
    
  {{/each}}

</ul>

<a href="/realtimeproducts">Ir a listado en tiempo real
  <i class="fa fa-refresh"></i></a>
<a href="/">Volver a Home <i class="fa fa-home"></i></a>
<hr />

{{#if hasPrevPage}}
  <a href="/products?pagina={{prevPage}}"><i
      class="fa fa-arrow-circle-left"
    ></i>
    Pagina</a>
{{/if}}

{{#if hasNextPage}}
  <a href="/products?pagina={{nextPage}}">
    Pagina
    <i class="fa fa-arrow-circle-right"></i></a>
{{/if}}

<a href="/products?pagina={{totalPages}}">Ult. Pagina.</a>

</div>
<script src="/js/cart.js"></script>
<script src="/js/products.js"></script>